.main-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 70vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    border: 2px red solid;
}

.screen {
    display: flex;
    flex-direction: column;
    height: 35%;
    width: 100%;
    border: 2px black solid;
}

.top-screen, .bottom-screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50%;
    box-sizing: border-box;
    border: 2px purple solid;
    padding: 10px 20px;
}

.calculator-keys {
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 100%;
    border: 2px brown solid;
    justify-content: space-between;
}

.top-row, .bottom-row, .middle-row, .low-row {
    display: flex;
    justify-content: space-between;
}

button {
    height: 80px;
    width: 18%;
}

button.zero {
    width: 38.5%;
}