@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFE2BA;
}

.calculator {
    height: 70vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #4056A1;
    border: 5px black solid;
}

.screen {
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 100%;
    border: 2px black solid;
}

.top-screen, .bottom-screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50%;
    box-sizing: border-box;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 50px;
    background-color: #EFE2BA;
    border: 1px black solid;
}

.calculator-keys {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 100%;
    justify-content: space-evenly;
}

.top-row, .bottom-row, .middle-row, .low-row {
    display: flex;
    justify-content: space-between;
}

button {
    height: 80px;
    width: 18%;
    background-color: #C5CBE3;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: 1px black solid;
}

button.zero {
    width: 38.5%;
}

.add, .subtract, .multiply, .divide, .delete, .on-off, .equals, .answer {
    background-color: #F13C20;
    color: white;
}

.equals{
    background-color: #D79922;
}

.footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.footer-text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

a.footer-text:hover, a.footer-text:active{
    color: #F13C20;
}